{%  extends 'base.html' %}

{% block content %}

<h1>Register</h1>

<!-- <div class="col-md-6 offset-md-3">

    {% if user.is_authenticated %}

    <h1>Hello World!</h1>

    {% else %}

    <h1>Login</h1>
    <br>
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <form>
            <div class="mb-3">
              <input type="text" class="form-control" name="username" placeholder="Username" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3">
              <input type="password" name="password" placeholder="Password" class="form-control" required>
            </div>
            <br>
            <button type="submit" class="btn btn-secondary">Login</button>
          </form>

    </form>

    {% endif %}

</div> -->


{% endblock content %}